<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmmplb.oauth2.system.server.dao.UserMapper">

    <select id="selectRoleCodesById" resultType="java.lang.String">
        select sr.`code`
        from `user_role` ur
        left join `role` sr on ur.`role_id` = sr.`id`
        where ur.`user_id` = #{id}
    </select>

    <select id="selectPermissionCodesByRoleCodes" resultType="java.lang.String">
        select p.`code`
        from `role_permission` rp
        left join `permission` p on rp.`permission_id` = p.`id`
        left join `role` r on r.`id` = rp.`role_id`
        and r.`code` in
        <foreach collection="roleCodes" item="roleCode" open="(" separator="," close=")">
            #{roleCode}
        </foreach>
    </select>
</mapper>