<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>oauth-error</title>
  <style>
      * {
          margin: 0;
          padding: 0;
      }

      html {
          height: 100%;
      }

      body {
          height: 100%;
      }

      .container {
          height: 100%;
          display: flex;
          justify-content: center;
      }

      .error-wrapper {
          margin-top: 50px;
      }

      .title {
          font-size: 38px;
          font-weight: bold;
      }

      .content {
          margin-top: 20px;
          font-size: 20px;
      }

  </style>
</head>
<body>
<div class="container">
  <div class="error-wrapper">
    <div class="title">OAuth Error</div>
    <p class="content" th:text="${errorSummary}"></p>
  </div>
</div>
</body>
</html>